.dataexport-element2 {
  background:none;
  width:100%;
  height:100%;
  border:none;
}

.widget-infotableExporter.roundedCorners, .widget-infotableExporter.roundedCorners .dataexport-element2 {
  border-radius: 6px;
}
.widget-infotableExporter img {
  display:inline;
  padding-right:5px;
  vertical-align:middle;
}
.widget-infotableExporter.iconRight img {
  padding-left: 5px;
  padding-right: 0;
}
.widget-infotableExporter-text {
  display:inline-block;
  vertical-align:middle;
}
@-moz-document url-prefix() {
  .widget-infotableExporter-text {
    margin-top:-2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .widget-infotableExporter-text {
    margin-top:-1px;
  }
}
.widget-infotableExporter-disabled, .widget-infotableExporter-disabled:hover, .widget-infotableExporter-disabled:active {
  background:#d4d4d4 url(images/dataexport-disabled.png) repeat-x;
  opacity:0.5;
}
.widget-infotableExporter .dataexport-element2 img.hover {
  display:none;
}
.widget-infotableExporter .dataexport-element2 img.active {
  display:none;
}
.widget-infotableExporter .dataexport-element2:hover img.default {
  display:none;
}
.widget-infotableExporter .dataexport-element2:hover img.hover {
  display:inline;
}
.widget-infotableExporter .dataexport-element2:active img.default {
  display:none;
}
.widget-infotableExporter .dataexport-element2:active img.hover {
  display:none;
}
.widget-infotableExporter .dataexport-element2:active img.active {
  display:inline;
}
.widget-infotableExporter.singleImageOnly .dataexport-element2 img.default {
  display:inline !important;
}

/* The container <div> - needed to position the dropdown content */
.widget-infotableExporter {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: table;
  position: fixed;
  background-color: #f3f3f3;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transform: translateX(-30%);
  z-index: 9999999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #646363;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.dropdown-content ul {
  display: table-row;; /* Arrange list items in horizontal line */
  list-style-type: none; /* We don't want bullets on our items */
  margin: 0;
}

.dropdown-content li {
  display: table-cell;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #0099ab}

/* Change the background color of the dropdown button when the dropdown content is shown */
.widget-infotableExporter:hover .dropbtn {
  background-color: #3e8e41;
}
