.dataexport-element2 {
  background:none;
  width:100%;
  height:100%;
  border:none;
}

.dataexport-element2::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.widget-infotableExporter.roundedCorners, .widget-infotableExporter.roundedCorners .dataexport-element2 {
  border-radius: 6px;
}
.widget-infotableExporter img {
  display:inline;
  padding-right:5px;
  vertical-align:middle;
}
.widget-infotableExporter.iconRight img {
  padding-left: 5px;
  padding-right: 0;
}
.widget-infotableExporter-text {
  display:inline-block;
  vertical-align:middle;
}
@-moz-document url-prefix() {
  .widget-infotableExporter-text {
    margin-top:-2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .widget-infotableExporter-text {
    margin-top:-1px;
  }
}
.widget-infotableExporter-disabled, .widget-infotableExporter-disabled:hover, .widget-infotableExporter-disabled:active {
  background:#d4d4d4 url(images/dataexport-disabled.png) repeat-x;
  opacity:0.5;
}
.widget-infotableExporter .dataexport-element2 img.hover {
  display:none;
}
.widget-infotableExporter .dataexport-element2 img.active {
  display:none;
}
.widget-infotableExporter .dataexport-element2:hover img.default {
  display:none;
}
.widget-infotableExporter .dataexport-element2:hover img.hover {
  display:inline;
}
.widget-infotableExporter .dataexport-element2:active img.default {
  display:none;
}
.widget-infotableExporter .dataexport-element2:active img.hover {
  display:none;
}
.widget-infotableExporter .dataexport-element2:active img.active {
  display:inline;
}
.widget-infotableExporter.singleImageOnly .dataexport-element2 img.default {
  display:inline !important;
}

/* The container <div> - needed to position the dropdown content */
.widget-infotableExporter {
  position: relative;
  display: inline-block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #646363;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  z-index: 1000;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  z-index: 99999;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-content a {
  color: #212529;
  font-weight: 400;
  padding: .25rem 1.5rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f8f9fa;
  color: #16181b;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.widget-infotableExporter:hover .dropbtn {
  background-color: #3e8e41;
}
